{% extends "when/when.html" %}

{% block content %}
<h1>Disponibilités</h1>

{% for dispo in dispos %}
    {% ifchanged %}<h2>{{ dispo.moment.moment|date:"F Y" }}</h2>{% endifchanged %}
    {% ifchanged %}<h3 id="dispos_{{ dispo.moment.moment|date:"Y-m-d" }}">{{ dispo.moment.moment|date:"l j" }}</h3>{% endifchanged %}
    <p>
        {% if dispo.dispo %}OK{% else %}KO{% endif %}: 
        {{ dispo.user }}
        {% if dispo.user == request.user %} -
            {% if dispo.dispo %}
                <a href="{% url 'when:pasdispo' dispo.moment.id %}?next=dispos#dispos_{{ dispo.moment.moment|date:"Y-m-d" }}">Nan, je suis pas là :(</a>
            {% else %}
                <a href="{% url 'when:dispo' dispo.moment.id %}?next=dispos#dispos_{{ dispo.moment.moment|date:"Y-m-d" }}">En fait, je suis dispo ! \o/</a>
            {% endif %}
        {% endif %}
    </p>
{% endfor %}

{% endblock %}
