{% extends "when/when.html" %}

{% block content %}
<h1>Disponibilités</h1>

<table border="1">
{% for dispo in dispos %}
    {% ifchanged dispo.moment.moment.month %}</td></tr><tr><th colspan="8">{{ dispo.moment.moment|date:"F Y" }}</th></tr><tr><td colspan="{{ dispo.moment.moment.isoweekday }}">{% endifchanged %}
    {% ifchanged dispo.moment.moment|date:"W" %}</td></tr><tr><td><p style=text-align:center;">{{ dispo.moment.moment|date:"W" }}</p>{% endifchanged %}
    {% ifchanged dispo.moment.moment.day %}</td><td><p style="text-align:center;">{{ dispo.moment.moment|date:"j" }}</p>{% endifchanged %}
    {% ifchanged dispo.moment.moment|date:"jH" %}<br>{{ dispo.moment.moment|date:"H:i" }}: {% endifchanged %}
    {% if dispo.user == request.user %}<a href="{% url 'when:dispo' dispo.moment.id dispo.dispo.real %}?next=dispos">{% endif %}
        <span style="color:{% if dispo.dispo %}green{% else %}red{% endif %}">{{ dispo.user }}</span>,
    {% if dispo.user == request.user %}</a>{% endif %}
{% endfor %}
</table>

{% endblock %}
