{% extends "when/when.html" %}

{% block content %}
<h1>Groupes</h1>

{% for groupe in groupes %}
    <h2>{{ groupe.nom }}{% if groupes|length > 1 %} (<a href="{% url 'when:groupe' groupe.id %}">ne voir que celui-ci</a>){% endif %}</h2>
    <ul>
        {% for user in groupe.membres.all %}
            <li>{{ user.username }} ({{ user.first_name }} {{ user.last_name }}): <a href="mailto:{{ user.email }}">mail</a></ls>
        {% endfor %}
    </ul>
    <p><a href="mailto:{% for user in groupe.membres.all %}{{ user.first_name }}%20{{ user.last_name }}%20<{{ user.email }}>,{% endfor %}?subject=Organisation du groupe «{{ groupe.nom }}»">
        Envoyer un mail à tous les membres de ce groupe
    </a></p>
{% endfor %}

{% endblock %}
